body {
    padding: 6%;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 1.5rem;
    background: #db9642;
    background: linear-gradient(90deg,rgba(219, 150, 66, 1) 0%,
    rgba(222, 204, 100, 1) 50%, rgba(237, 206, 83, 1) 100%);
}
.main-align {
    text-align: center;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul li {
    float: left;
}
.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul li a:hover:not(.active) {
  background-color: darkslategrey;
  color: white;
}
.navbar ul li a.active {
  background-color: white;
  color: black;
}
.navbar ul li a:visited, a:link, a:active {
    color: gray;
}