html, body {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  background: linear-gradient(90deg,rgba(219, 150, 66, 1) 0%,
  rgba(222, 204, 100, 1) 50%, rgba(237, 206, 83, 1) 100%);
  text-align: center;
}
#nav > h1 {
  font-size: 2.6rem;
  color: lch(54.15% 34.03 189.36);
  padding: 1rem 2rem 0rem 1.8rem;
}
#nav a {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  color: oklab(73.977% -0.11531 -0.0204);
  padding: 0.2rem 0.5em;
  margin: 0.7rem 2rem;
  text-decoration: none;
}
#nav a:hover {
  background-color: bisque;
  color:#5c3400
}
#content {
  float: right;
  width: 80%;
  height: 100%;
  font-size: 1.5rem;
  overflow-y: auto;
}
#nav {
    margin-right: 1%;
    width: 19%;
    height: 100%;
    background: #5c3400;
    position: fixed;
}